<h1>Make a new product</h1>

<%= render partial: 'layouts/errors', locals: {object: @product} %>

<%= form_for(@product) do |f| %>
    <div>
        <%= f.label :active_ingredient %><br>
        <%= f.text_field :active_ingredient %><br>
    <div>
    <div>
        <%= f.label :description %><br>
        <%= f.text_area :description %><br>
    </div>
    <div>
        <p>Select a Chemical Group:</p>
        <%= f.collection_select :chem_group_id, ChemGroup.all, :id, :name %>
    </div>
    <div>
        <p>Or, create a new Chemical Group:</p>
        <!-- NESTED FORM! User writing attributes for another object. Use fields_for -->
        <%= f.fields_for :chem_group do |cg| %>
            <%= cg.label :name %>
            <%= cg.text_field :name %>
        <% end %>
    </div>
    <%= f.submit "Create Product" %>
<% end %>